@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100&display=swap');


:root {
  /* change the values below to your colors from your palette */
    --color-1: #093844;
    --color-2: #164753;
    --color-3: #aa8e28;
    --color-4: rgb(220, 213, 177);
    --color-5:rgb(152, 82, 16);
    --color-6:rgb(193, 151, 137);

    --navbar-background:var(--color-3);
    --navbar:var(--color-2);
    --background-color:var(--color-4);
    --second-nav-background:var(--color-6);


  /* change the values below to your chosen font(s) */
    --heading-font: "Lexend Tera";
    --paragraph-font: "Red Hat Text";
}